/* the style sheet for the blog */

/* dark mode */
/* dark is just a class */
.dark{
    background-color: slategray;
    color: white;
}

.light{
    background-color: white;
    color:black;
}


.blogPosts{
    list-style-type: none;
}


/* .card{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.card header{
    font-size: 150%;
} */

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;

}
.card header {
    border-style: solid;
    border-width: 1px;
    /* padding: 20px; */
}
.card footer {
    border-style: solid;
    border-width: 1px;
    /* padding: 20px; */
}