
header {
    padding : 5px;
}

.dark{
    background-color: slategray;
    color: white;
}

.light{
    background-color: white;
    color:black;
}

.frame{
    /* float:left; */
    display:flex;
}

.leftSide{
    width : 45%;
    position: fixed;
    left: 3%;
    border: 2px solid black;
    height : 90%;
    align-content:center;
    text-align: center;

    /* I can't get the sides to take up the whole height  */
    /* border-style: solid;
    border-color: black;
    border-width: 2px; */
}


.rightSide{
    width : 45%;
    position: fixed;
    right:3%;
    /* border-style: solid;
    border-color: black;
    border-width: 2px; */
    border: 2px solid black;
    height : 90%;
    align-content:center;
    text-align: center;
}

.textBoxes{
    display: flex;
    flex-direction: column;
}

/* .rightSide h1{
    text-align: center;
} */

.leftside h1 {
    padding : 10%;
    border : 5px darkblue;
}